.post-meta {
    .fa {
        color: $grey-color;
    }

    > div {
        display: inline-block;
        margin-right: 1em;
    }
}

.post-categories {
    ul {
        display: inline-block;
        margin: 0;
        list-style: none;

        li {
            display: inline-block;
            padding: 0;

            a:after {
                content: ',';
            }

            &:last-child a:after {
                content: '';
            }
        }
    }
}


.post-list {
    margin-left: 0;
    list-style: none;

    > .post-list-item {
        padding-bottom: $spacing-unit * 2;
        margin-bottom: $spacing-unit * 2;
    }
}

.post-list-item {

    &:not(:last-child) {
        border-bottom: 1px solid #e6e6e6;
    }

    header {
        margin-bottom: $spacing-unit;
    }


}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 1.2rem;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    figure {
        text-align: center;

        &.dark {
            a {
                background: #1f1f1f;
            }
        }

        a,
        img {
            display: inline-block;
        }

        a {
            background: #efefef;
            border-radius: 3px;
        }

        img {
            max-width: 320px;
            max-height: 320px;
            margin: 8px;
        }

        figcaption {
            margin-bottom: 8px;

            color: #1f1f1f;
        }
    }
}